<div class="container" style="height: 100%;">
  <div class="">
    <div class="container">
      <h1 class="display-4">Cadastre-se no <b>BazarLivros</b>
        <img src="../../assets/icons/books.png">
      </h1>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>“É preciso que a leitura seja um ato de amor.” </p>
          <footer class="blockquote-footer">Paulo Freire </footer>
        </blockquote>
      </div>                
      <p>
      Nós do <b>BazarLivros</b> queremos que At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. 
      </p>
    </div>
  </div>
  <form class="">
    <div class="form-group">
      <label for="inputAddress">Nome Completo</label>
      <input type="text" class="form-control" id="inputAddress">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label >Data Nascimento</label>
        <input type="date" class="form-control">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">CPF</label>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress2">Endereço</label>
      <input type="text" class="form-control" >
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label >Nome de usuário</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group col-md-6">
        <label >Password</label>
        <input type="password" class="form-control">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label >Email</label>
        <input type="email" class="form-control">
      </div>
      <div class="form-group col-md-6    ">
        <label >Telefone</label>
        <input type="text" class="form-control">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label >Celular</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group col-md-6    ">
        <label >Forma de pagamento</label>
        <select class="custom-select" id="inputGroupSelect01">
          <option selected>Choose...</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>
    <div class="text-center">
      <br>
      <button type="submit" class="btn btn-lg btn-success mb-5">Cadastrar</button>
    </div>
  </form>
</div>